#go {
	position: fixed;
	z-index: 100500;
}
.bg-puzzle-wrapper {
	z-index: 50;
	overflow: hidden;
	position: absolute;
}
.bg-puzzle-wrapper.collect {
	position: absolute;

}
.bg-puzzle-wrapper.uncollect {
	overflow: visible;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
}
.bg-puzzle {
	position: relative;
	z-index:100;
	float: left;
	margin:0;
	padding:0;
	overflow: hidden;
	width: 50px;
	height:50px;
}
.bg-puzzle_puzz-1-le {
	background: url("../i/puzzle/1.png") no-repeat 50% 50%;
}
.bg-puzzle_puzz-2-le {
	background: url("../i/puzzle/2.png") no-repeat 50% 50%;
}
.bg-puzzle_puzz-3-le {
	background: url("../i/puzzle/3.png") no-repeat 50% 50%;
}
.bg-puzzle_puzz-4-le {
	background: url("../i/puzzle/4.png") no-repeat 50% 50%;
}
.bg-puzzle_puzz-5-le {
	background: url("../i/puzzle/5.png") no-repeat 50% 50%;
}
.bg-puzzle_puzz-6-le {
	background: url("../i/puzzle/6.png") no-repeat 50% 50%;
}
.bg-puzzle_puzz-7-le {
	background: url("../i/puzzle/7.png") no-repeat 50% 50%;
}
.bg-puzzle_puzz-8-le {
	background: url("../i/puzzle/8.png") no-repeat 50% 50%;
}
.bg-puzzle_puzz-9-le {
	background: url("../i/puzzle/9.png") no-repeat 50% 50%;
}


.bg-puzzle_clear {
	clear:left;
}
.uncollect .bg-puzzle_clear,
.collect .clone {
	display: none;
}